In [10]:
import pandas as pd

In [21]:
dataframe = pd.read_csv('HR_Analytics_Dataset.csv')

In [25]:
dataframe.head()

,EmployeeID,Name,Age,Gender,Location,Department,JobRole,DegreeEducation,HireDate,Experience,EmploymentType,Salary,PerformanceRating,Attrition,MaritalStatus,WorkMode,TrainingHours,OvertimeHoursPerMonth,ProjectsHandled,SatisfactionScore
0,EMP0001,Caitlin Calderon,35,Male,Sydney,Finance,Software Engineer,Diploma,04-02-2022,2.4 yrs,Part-time,"? 37,483.33",2,No,Single,Hybrid,83,10,2,2
1,EMP0002,Eric Chapman,37,Other,London,HR,Product Manager,Bachelors,20-01-2021,3.4 yrs,Part-time,"? 1,39,532.68",2,Yes,Married,Hybrid,59,27,9,2
2,EMP0003,Daniel Gregory,55,Female,Mumbai,Finance,HR Manager,Bachelors,15-03-2020,5.3 yrs,Part-time,"? 41,579.60",4,No,Single,Remote,23,20,4,7
3,EMP0004,Jennifer Cortez,52,Male,Sydney,Marketing,Operations Manager,Diploma,22-06-2018,6.2 yrs,Full-time,"? 1,19,623.02",2,No,Divorced,Hybrid,52,30,10,6
4,EMP0005,Daniel Butler,57,Other,Berlin,HR,Marketing Executive,PhD,10-12-2021,4.5 yrs,Full-time,"? 1,20,558.19",2,Yes,Single,Hybrid,65,4,8,9

In [26]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   EmployeeID             500 non-null    object
 1   Name                   500 non-null    object
 2   Age                    500 non-null    int64
 3   Gender                 500 non-null    object
 4   Location               500 non-null    object
 5   Department             500 non-null    object
 6   JobRole                500 non-null    object
 7   DegreeEducation        500 non-null    object
 8   HireDate               500 non-null    object
 9   Experience             500 non-null    object
 10  EmploymentType         500 non-null    object
 11  Salary                 500 non-null    object
 12  PerformanceRating      500 non-null    int64
 13  Attrition              500 non-null    object
 14  MaritalStatus          500 non-null    object
 15  WorkMode               500 non-null    object
 16  TrainingHours          500 non-null    int64
 17  OvertimeHoursPerMonth  500 non-null    int64
 18  ProjectsHandled        500 non-null    int64
 19  SatisfactionScore      500 non-null    int64
dtypes: int64(6), object(14)
memory usage: 78.3+ KB

In [27]:
dataframe.describe(include='all')

,EmployeeID,Name,Age,Gender,Location,Department,JobRole,DegreeEducation,HireDate,Experience,EmploymentType,Salary,PerformanceRating,Attrition,MaritalStatus,WorkMode,TrainingHours,OvertimeHoursPerMonth,ProjectsHandled,SatisfactionScore
count,500,500,500.000000,500,500,500,500,500,500,500,500,500,500.000000,500,500,500,500.000000,500.000000,500.000000,500.000000
unique,500,498,NaN,3,8,6,10,4,472,94,3,499,NaN,2,3,3,NaN,NaN,NaN,NaN
top,EMP0500,Michael Miles,NaN,Male,Mumbai,Marketing,Operations Manager,Masters,04-07-2020,Fresher,Part-time,"? 88,114.97",NaN,Yes,Single,On-site,NaN,NaN,NaN,NaN
freq,1,2,NaN,175,77,93,63,144,2,53,183,2,NaN,253,174,184,NaN,NaN,NaN,NaN
mean,NaN,NaN,40.474000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.008000,NaN,NaN,NaN,54.082000,15.034000,5.196000,5.374000
std,NaN,NaN,10.955792,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.408511,NaN,NaN,NaN,26.252117,8.678911,2.894536,2.902235
min,NaN,NaN,22.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,10.000000,0.000000,1.000000,1.000000
25%,NaN,NaN,31.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.000000,NaN,NaN,NaN,33.000000,8.000000,3.000000,3.000000
50%,NaN,NaN,40.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.000000,NaN,NaN,NaN,52.000000,15.000000,5.000000,5.000000
75%,NaN,NaN,50.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.000000,NaN,NaN,NaN,77.000000,22.000000,8.000000,8.000000
max,NaN,NaN,60.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.000000,NaN,NaN,NaN,100.000000,30.000000,10.000000,10.000000

In [21]:
dataframe.describe()

,Age,PerformanceRating,TrainingHours,OvertimeHoursPerMonth,ProjectsHandled,SatisfactionScore
count,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000
mean,40.474000,3.008000,54.082000,15.034000,5.196000,5.374000
std,10.955792,1.408511,26.252117,8.678911,2.894536,2.902235
min,22.000000,1.000000,10.000000,0.000000,1.000000,1.000000
25%,31.000000,2.000000,33.000000,8.000000,3.000000,3.000000
50%,40.000000,3.000000,52.000000,15.000000,5.000000,5.000000
75%,50.000000,4.000000,77.000000,22.000000,8.000000,8.000000
max,60.000000,5.000000,100.000000,30.000000,10.000000,10.000000

In [28]:
dataframe.isnull().sum()

EmployeeID               0
Name                     0
Age                      0
Gender                   0
Location                 0
Department               0
JobRole                  0
DegreeEducation          0
HireDate                 0
Experience               0
EmploymentType           0
Salary                   0
PerformanceRating        0
Attrition                0
MaritalStatus            0
WorkMode                 0
TrainingHours            0
OvertimeHoursPerMonth    0
ProjectsHandled          0
SatisfactionScore        0
dtype: int64

In [30]:
dataframe.columns

Index(['EmployeeID', 'Name', 'Age', 'Gender', 'Location', 'Department',
       'JobRole', 'DegreeEducation', 'HireDate', 'Experience',
       'EmploymentType', 'Salary', 'PerformanceRating', 'Attrition',
       'MaritalStatus', 'WorkMode', 'TrainingHours', 'OvertimeHoursPerMonth',
       'ProjectsHandled', 'SatisfactionScore'],
      dtype='object')

In [32]:
dataframe = dataframe.rename(columns={'DegreeEducation':'Degree_Education'})

In [33]:
dataframe.columns

Index(['EmployeeID', 'Name', 'Age', 'Gender', 'Location', 'Department',
       'JobRole', 'Degree_Education', 'HireDate', 'Experience',
       'EmploymentType', 'Salary', 'PerformanceRating', 'Attrition',
       'MaritalStatus', 'WorkMode', 'TrainingHours', 'OvertimeHoursPerMonth',
       'ProjectsHandled', 'SatisfactionScore'],
      dtype='object')

In [35]:
# Age_group
labels = ['Adult','Middle-Aged','Senior']
dataframe['Age_group'] = pd.qcut(dataframe['Age'], q=3, labels = labels)

In [36]:
dataframe[['Age','Age_group']].head(10)

   Age    Age_group
0   35  Middle-Aged
1   37  Middle-Aged
2   55       Senior
3   52       Senior
4   57       Senior
5   55       Senior
6   37  Middle-Aged
7   40  Middle-Aged
8   52       Senior
9   25        Adult

In [37]:
age_data = dataframe['Age']
print(age_data)

0      35
1      37
2      55
3      52
4      57
       ..
495    42
496    56
497    55
498    46
499    44
Name: Age, Length: 500, dtype: int64

In [38]:
dataframe['Age'].value_counts()

Age
35    19
27    18
32    17
46    17
44    17
37    16
26    16
34    16
52    15
30    15
24    15
38    14
56    14
53    14
55    14
41    14
43    14
57    13
40    13
42    13
48    12
39    12
47    12
31    12
25    11
50    11
29    11
58    11
54    10
23    10
49    10
33    10
28    10
59    10
36    10
22    10
60     9
45     8
51     7
Name: count, dtype: int64

In [46]:
df['Age_group'].value_counts()

Age_group
Adult          171
Middle-Aged    167
Senior         162
Name: count, dtype: int64

In [39]:
gender = dataframe['Gender']
print(gender)

0        Male
1       Other
2      Female
3        Male
4       Other
        ...
495      Male
496     Other
497    Female
498    Female
499    Female
Name: Gender, Length: 500, dtype: object

In [40]:
dataframe['Gender'].value_counts()

Gender
Male      175
Other     164
Female    161
Name: count, dtype: int64

In [42]:
dataframe['Location'].value_counts()

Location
Mumbai       77
New York     73
Sydney       64
Toronto      60
Tokyo        59
London       59
Singapore    57
Berlin       51
Name: count, dtype: int64

In [55]:
dataframe['Department'].value_counts()

Department
Marketing     93
Operations    90
Finance       89
HR            87
IT            77
Sales         64
Name: count, dtype: int64

In [58]:
dataframe['Degree_Education'].value_counts()

Degree_Education
Masters      144
PhD          126
Diploma      118
Bachelors    112
Name: count, dtype: int64

In [44]:
dataframe['JobRole'].value_counts()

JobRole
Operations Manager     63
HR Manager             59
Sales Associate        53
IT Support             53
Finance Analyst        51
Business Consultant    48
Marketing Executive    45
Software Engineer      45
Product Manager        42
Data Analyst           41
Name: count, dtype: int64

In [45]:
dataframe['EmploymentType'].value_counts()

EmploymentType
Part-time    183
Full-time    170
Contract     147
Name: count, dtype: int64

In [46]:
dataframe['MaritalStatus'].value_counts()

MaritalStatus
Single      174
Divorced    170
Married     156
Name: count, dtype: int64

In [47]:
dataframe['WorkMode'].value_counts()

WorkMode
On-site    184
Hybrid     171
Remote     145
Name: count, dtype: int64

In [48]:
dataframe[['Employee_Name']]

KeyError: "None of [Index(['Employee_Name'], dtype='object')] are in the [columns]"

In [49]:
dataframe[dataframe['Age'] < 30]

,EmployeeID,Name,Age,Gender,Location,Department,JobRole,Degree_Education,HireDate,Experience,...,Salary,PerformanceRating,Attrition,MaritalStatus,WorkMode,TrainingHours,OvertimeHoursPerMonth,ProjectsHandled,SatisfactionScore,Age_group
9,EMP0010,Eric Cooper,25,Male,Sydney,Sales,Finance Analyst,PhD,17-12-2015,9.9 yrs,...,"? 90,375.49",5,Yes,Single,Hybrid,81,20,4,4,Adult
19,EMP0020,Miss Hannah Kelly,23,Male,New York,Marketing,Finance Analyst,Masters,10-07-2020,4.9 yrs,...,"? 1,16,860.36",1,Yes,Married,On-site,64,6,3,5,Adult
26,EMP0027,Michelle Russell,25,Male,London,HR,Operations Manager,PhD,22-05-2020,4.5 yrs,...,"? 1,48,901.98",5,Yes,Married,Hybrid,45,25,1,5,Adult
29,EMP0030,Gina Klein,24,Male,Berlin,HR,Finance Analyst,Diploma,06-09-2023,2.5 yrs,...,"? 98,993.96",1,No,Married,On-site,98,27,9,5,Adult
32,EMP0033,Katie Carlson,24,Male,New York,HR,Finance Analyst,Bachelors,03-06-2024,1.6 yrs,...,"? 86,701.86",3,Yes,Single,On-site,25,13,8,6,Adult
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
474,EMP0475,Alan Perez,25,Male,Toronto,Sales,HR Manager,Masters,04-11-2023,1.2 yrs,...,"? 93,364.54",3,Yes,Single,On-site,12,2,9,4,Adult
478,EMP0479,Phillip Walker,29,Female,Mumbai,Marketing,Software Engineer,Masters,17-06-2022,2.3 yrs,...,"? 1,44,003.20",4,No,Married,On-site,22,6,7,2,Adult
481,EMP0482,Shannon Sanchez,24,Male,Singapore,Sales,Software Engineer,Bachelors,23-12-2023,2.4 yrs,...,"? 44,667.62",1,Yes,Married,Hybrid,32,9,7,10,Adult
485,EMP0486,Thomas Norris,27,Male,Mumbai,HR,HR Manager,PhD,11-06-2020,5.8 yrs,...,"? 34,329.18",4,No,Single,Hybrid,79,16,8,3,Adult
490,EMP0491,Austin Ferguson,26,Other,London,Operations,Business Consultant,Masters,16-08-2019,6.4 yrs,...,"? 47,987.67",2,No,Single,Remote,20,1,2,2,Adult

In [50]:
dataframe[dataframe['Age'] == 30]

,EmployeeID,Name,Age,Gender,Location,Department,JobRole,Degree_Education,HireDate,Experience,...,Salary,PerformanceRating,Attrition,MaritalStatus,WorkMode,TrainingHours,OvertimeHoursPerMonth,ProjectsHandled,SatisfactionScore,Age_group
27,EMP0028,Amanda Cooley,30,Male,Mumbai,IT,Business Consultant,Bachelors,29-06-2016,8.6 yrs,...,"? 71,998.10",3,No,Single,Remote,58,28,9,7,Adult
88,EMP0089,Mr. Stanley Griffith,30,Other,Toronto,HR,IT Support,PhD,29-07-2020,4.7 yrs,...,"? 51,563.44",3,Yes,Divorced,Remote,34,5,7,8,Adult
90,EMP0091,Alexander Noble,30,Other,Singapore,Marketing,Product Manager,Bachelors,26-12-2019,6.1 yrs,...,"? 1,39,307.66",4,Yes,Married,Hybrid,27,25,8,10,Adult
91,EMP0092,Justin Cummings,30,Male,London,Marketing,Operations Manager,Diploma,20-07-2020,4.4 yrs,...,"? 54,929.49",5,No,Single,Hybrid,10,1,3,10,Adult
150,EMP0151,Jasmine Woods,30,Female,Mumbai,Finance,Sales Associate,Masters,08-03-2016,8.8 yrs,...,"? 1,28,062.56",1,No,Single,Remote,58,15,9,7,Adult
260,EMP0261,Gary Stevens,30,Other,Mumbai,IT,Operations Manager,PhD,20-07-2022,3.6 yrs,...,"? 1,05,190.54",3,No,Divorced,On-site,51,4,2,5,Adult
286,EMP0287,Janet Jimenez,30,Male,New York,Sales,Operations Manager,PhD,13-02-2023,1.3 yrs,...,"? 97,860.15",4,Yes,Married,Hybrid,57,30,10,7,Adult
289,EMP0290,Julie Nelson,30,Male,New York,IT,Finance Analyst,Diploma,18-06-2016,8.5 yrs,...,"? 36,118.94",5,Yes,Single,Remote,46,15,5,1,Adult
333,EMP0334,Danny Wiggins,30,Male,Tokyo,IT,Operations Manager,Diploma,20-05-2018,6.9 yrs,...,"? 1,35,349.02",1,Yes,Single,On-site,11,1,3,10,Adult
365,EMP0366,Jacob Lamb,30,Other,Tokyo,Operations,Business Consultant,Masters,10-02-2024,1.0 yrs,...,"? 73,738.06",4,No,Divorced,Hybrid,64,3,7,5,Adult
385,EMP0386,Hannah Thompson,30,Male,Singapore,Finance,Data Analyst,PhD,04-09-2024,1.4 yrs,...,"? 71,272.39",4,Yes,Married,Remote,11,17,4,8,Adult
410,EMP0411,Andrew Fisher,30,Male,Toronto,HR,Sales Associate,Bachelors,22-04-2017,8.2 yrs,...,"? 1,06,345.34",2,No,Married,On-site,73,28,1,2,Adult
414,EMP0415,Dean Wolf,30,Female,Toronto,Sales,IT Support,Bachelors,01-07-2020,4.5 yrs,...,"? 54,427.62",2,No,Divorced,Remote,26,18,2,7,Adult
441,EMP0442,Tracy Mcguire,30,Female,Singapore,IT,Marketing Executive,Bachelors,06-11-2020,4.1 yrs,...,"? 68,030.10",2,Yes,Married,Hybrid,68,7,5,2,Adult
449,EMP0450,Jessica Ramirez,30,Female,Toronto,Sales,Operations Manager,Masters,10-05-2022,2.6 yrs,...,"? 31,263.88",3,No,Single,Hybrid,65,2,8,9,Adult

In [75]:
dataframe[dataframe['Gender'] == 'Male']

,Employee_ID,Employee_Name,Age,Gender,Location,Department,JobRole,Degree_Education,HireDate,Experience,...,Salary,PerformanceRating,Attrition,MaritalStatus,WorkMode,TrainingHours,OvertimeHoursPerMonth,ProjectsHandled,SatisfactionScore,Age_group
0,EMP0001,Caitlin Calderon,35,Male,Sydney,Finance,Software Engineer,Diploma,04-02-2022,2.4 yrs,...,"? 37,483.33",2,No,Single,Hybrid,83,10,2,2,Middle-Aged
3,EMP0004,Jennifer Cortez,52,Male,Sydney,Marketing,Operations Manager,Diploma,22-06-2018,6.2 yrs,...,"? 1,19,623.02",2,No,Divorced,Hybrid,52,30,10,6,Senior
9,EMP0010,Eric Cooper,25,Male,Sydney,Sales,Finance Analyst,PhD,17-12-2015,9.9 yrs,...,"? 90,375.49",5,Yes,Single,Hybrid,81,20,4,4,Adult
12,EMP0013,Scott Cooper,57,Male,Tokyo,Finance,Data Analyst,Diploma,08-07-2016,9.2 yrs,...,"? 31,007.53",5,No,Divorced,On-site,60,8,2,9,Senior
13,EMP0014,Kim Grimes,47,Male,Toronto,Finance,Operations Manager,Diploma,03-06-2021,4.8 yrs,...,"? 44,101.77",2,Yes,Single,On-site,96,13,10,5,Senior
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
486,EMP0487,Beth Flynn,40,Male,Sydney,Marketing,HR Manager,PhD,23-06-2025,Fresher,...,"? 79,427.75",4,No,Divorced,On-site,62,17,4,3,Middle-Aged
487,EMP0488,Richard Howard,33,Male,Sydney,Marketing,Operations Manager,Diploma,24-04-2016,9.5 yrs,...,"? 1,40,225.17",3,No,Single,On-site,33,23,9,7,Adult
489,EMP0490,Joshua Gregory,47,Male,New York,IT,Data Analyst,PhD,31-03-2016,8.2 yrs,...,"? 87,913.98",5,No,Married,On-site,55,23,10,2,Senior
493,EMP0494,David Chapman,31,Male,London,Finance,Business Consultant,Masters,13-05-2018,7.4 yrs,...,"? 36,850.07",5,No,Married,On-site,82,22,4,8,Adult
495,EMP0496,Ms. Alicia Mills MD,42,Male,Berlin,Sales,HR Manager,Masters,23-10-2017,8.9 yrs,...,"? 50,399.65",1,No,Married,On-site,14,9,10,3,Middle-Aged

In [51]:
dataframe[dataframe['Location'] == 'Mumbai']

,EmployeeID,Name,Age,Gender,Location,Department,JobRole,Degree_Education,HireDate,Experience,...,Salary,PerformanceRating,Attrition,MaritalStatus,WorkMode,TrainingHours,OvertimeHoursPerMonth,ProjectsHandled,SatisfactionScore,Age_group
2,EMP0003,Daniel Gregory,55,Female,Mumbai,Finance,HR Manager,Bachelors,15-03-2020,5.3 yrs,...,"? 41,579.60",4,No,Single,Remote,23,20,4,7,Senior
18,EMP0019,Janet Welch,51,Female,Mumbai,Sales,Data Analyst,Masters,21-06-2016,9.7 yrs,...,"? 1,46,300.97",4,No,Divorced,Hybrid,99,7,2,4,Senior
23,EMP0024,Regina Pope,40,Female,Mumbai,IT,Marketing Executive,Diploma,03-04-2024,Fresher,...,"? 47,546.13",1,Yes,Married,Hybrid,31,5,7,10,Middle-Aged
27,EMP0028,Amanda Cooley,30,Male,Mumbai,IT,Business Consultant,Bachelors,29-06-2016,8.6 yrs,...,"? 71,998.10",3,No,Single,Remote,58,28,9,7,Adult
41,EMP0042,Kimberly Johnson,58,Female,Mumbai,Operations,IT Support,Bachelors,26-07-2017,8.4 yrs,...,"? 1,20,958.30",5,No,Single,Hybrid,95,30,1,10,Senior
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
470,EMP0471,Nicholas Baker,54,Other,Mumbai,Finance,Sales Associate,Diploma,05-04-2022,2.3 yrs,...,"? 48,779.25",4,No,Single,Hybrid,54,23,5,7,Senior
472,EMP0473,Michael Rowland,32,Female,Mumbai,Sales,Marketing Executive,PhD,02-08-2023,2.5 yrs,...,"? 62,237.93",4,Yes,Married,On-site,11,15,4,2,Adult
473,EMP0474,Ann Swanson,23,Other,Mumbai,Operations,Data Analyst,Bachelors,03-01-2019,5.1 yrs,...,"? 93,363.63",5,No,Divorced,Hybrid,22,13,7,3,Adult
478,EMP0479,Phillip Walker,29,Female,Mumbai,Marketing,Software Engineer,Masters,17-06-2022,2.3 yrs,...,"? 1,44,003.20",4,No,Married,On-site,22,6,7,2,Adult
485,EMP0486,Thomas Norris,27,Male,Mumbai,HR,HR Manager,PhD,11-06-2020,5.8 yrs,...,"? 34,329.18",4,No,Single,Hybrid,79,16,8,3,Adult

In [53]:
dataframe[(dataframe['Age'] >= 20) & (dataframe['Age'] <= 40)]

,EmployeeID,Name,Age,Gender,Location,Department,JobRole,Degree_Education,HireDate,Experience,...,Salary,PerformanceRating,Attrition,MaritalStatus,WorkMode,TrainingHours,OvertimeHoursPerMonth,ProjectsHandled,SatisfactionScore,Age_group
0,EMP0001,Caitlin Calderon,35,Male,Sydney,Finance,Software Engineer,Diploma,04-02-2022,2.4 yrs,...,"? 37,483.33",2,No,Single,Hybrid,83,10,2,2,Middle-Aged
1,EMP0002,Eric Chapman,37,Other,London,HR,Product Manager,Bachelors,20-01-2021,3.4 yrs,...,"? 1,39,532.68",2,Yes,Married,Hybrid,59,27,9,2,Middle-Aged
6,EMP0007,Robert Webb,37,Female,New York,Marketing,Sales Associate,Bachelors,11-04-2020,5.9 yrs,...,"? 30,548.48",1,No,Divorced,Remote,35,9,8,7,Middle-Aged
7,EMP0008,Sheila Ramos,40,Female,Sydney,Sales,Finance Analyst,Diploma,27-06-2017,8.9 yrs,...,"? 1,23,568.78",4,Yes,Married,Hybrid,99,25,2,8,Middle-Aged
9,EMP0010,Eric Cooper,25,Male,Sydney,Sales,Finance Analyst,PhD,17-12-2015,9.9 yrs,...,"? 90,375.49",5,Yes,Single,Hybrid,81,20,4,4,Adult
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
485,EMP0486,Thomas Norris,27,Male,Mumbai,HR,HR Manager,PhD,11-06-2020,5.8 yrs,...,"? 34,329.18",4,No,Single,Hybrid,79,16,8,3,Adult
486,EMP0487,Beth Flynn,40,Male,Sydney,Marketing,HR Manager,PhD,23-06-2025,Fresher,...,"? 79,427.75",4,No,Divorced,On-site,62,17,4,3,Middle-Aged
487,EMP0488,Richard Howard,33,Male,Sydney,Marketing,Operations Manager,Diploma,24-04-2016,9.5 yrs,...,"? 1,40,225.17",3,No,Single,On-site,33,23,9,7,Adult
490,EMP0491,Austin Ferguson,26,Other,London,Operations,Business Consultant,Masters,16-08-2019,6.4 yrs,...,"? 47,987.67",2,No,Single,Remote,20,1,2,2,Adult
493,EMP0494,David Chapman,31,Male,London,Finance,Business Consultant,Masters,13-05-2018,7.4 yrs,...,"? 36,850.07",5,No,Married,On-site,82,22,4,8,Adult

In [54]:
dataframe[dataframe['Degree_Education'] == 'PhD']

,EmployeeID,Name,Age,Gender,Location,Department,JobRole,Degree_Education,HireDate,Experience,...,Salary,PerformanceRating,Attrition,MaritalStatus,WorkMode,TrainingHours,OvertimeHoursPerMonth,ProjectsHandled,SatisfactionScore,Age_group
4,EMP0005,Daniel Butler,57,Other,Berlin,HR,Marketing Executive,PhD,10-12-2021,4.5 yrs,...,"? 1,20,558.19",2,Yes,Single,Hybrid,65,4,8,9,Senior
5,EMP0006,Adam Shannon,55,Other,Toronto,Operations,Operations Manager,PhD,21-12-2015,9.5 yrs,...,"? 37,434.11",5,No,Divorced,Hybrid,51,17,1,6,Senior
8,EMP0009,Kara Delgado,52,Female,Toronto,Finance,HR Manager,PhD,14-03-2021,3.2 yrs,...,"? 74,311.03",5,No,Single,Remote,15,13,7,2,Senior
9,EMP0010,Eric Cooper,25,Male,Sydney,Sales,Finance Analyst,PhD,17-12-2015,9.9 yrs,...,"? 90,375.49",5,Yes,Single,Hybrid,81,20,4,4,Adult
25,EMP0026,Monica Harper,39,Female,Singapore,IT,Operations Manager,PhD,07-06-2018,6.4 yrs,...,"? 1,42,991.79",3,Yes,Divorced,On-site,11,16,9,8,Middle-Aged
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
485,EMP0486,Thomas Norris,27,Male,Mumbai,HR,HR Manager,PhD,11-06-2020,5.8 yrs,...,"? 34,329.18",4,No,Single,Hybrid,79,16,8,3,Adult
486,EMP0487,Beth Flynn,40,Male,Sydney,Marketing,HR Manager,PhD,23-06-2025,Fresher,...,"? 79,427.75",4,No,Divorced,On-site,62,17,4,3,Middle-Aged
489,EMP0490,Joshua Gregory,47,Male,New York,IT,Data Analyst,PhD,31-03-2016,8.2 yrs,...,"? 87,913.98",5,No,Married,On-site,55,23,10,2,Senior
497,EMP0498,Linda Carter,55,Female,London,Sales,Business Consultant,PhD,29-09-2017,7.9 yrs,...,"? 61,971.43",5,No,Married,Remote,38,30,3,4,Senior
498,EMP0499,Patrick Johnson,46,Female,Berlin,Marketing,Software Engineer,PhD,22-02-2017,8.7 yrs,...,"? 74,255.34",3,No,Single,Hybrid,58,24,1,7,Middle-Aged

In [38]:
import pandas as pd

In [33]:
df = pd.read_csv('HR_Analytics_Dataset.csv')

In [34]:
df.head()

,EmployeeID,Name,Age,Gender,Location,Department,JobRole,DegreeEducation,HireDate,Experience,EmploymentType,Salary,PerformanceRating,Attrition,MaritalStatus,WorkMode,TrainingHours,OvertimeHoursPerMonth,ProjectsHandled,SatisfactionScore
0,EMP0001,Caitlin Calderon,35,Male,Sydney,Finance,Software Engineer,Diploma,04-02-2022,2.4 yrs,Part-time,"? 37,483.33",2,No,Single,Hybrid,83,10,2,2
1,EMP0002,Eric Chapman,37,Other,London,HR,Product Manager,Bachelors,20-01-2021,3.4 yrs,Part-time,"? 1,39,532.68",2,Yes,Married,Hybrid,59,27,9,2
2,EMP0003,Daniel Gregory,55,Female,Mumbai,Finance,HR Manager,Bachelors,15-03-2020,5.3 yrs,Part-time,"? 41,579.60",4,No,Single,Remote,23,20,4,7
3,EMP0004,Jennifer Cortez,52,Male,Sydney,Marketing,Operations Manager,Diploma,22-06-2018,6.2 yrs,Full-time,"? 1,19,623.02",2,No,Divorced,Hybrid,52,30,10,6
4,EMP0005,Daniel Butler,57,Other,Berlin,HR,Marketing Executive,PhD,10-12-2021,4.5 yrs,Full-time,"? 1,20,558.19",2,Yes,Single,Hybrid,65,4,8,9

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   EmployeeID             500 non-null    object
 1   Name                   500 non-null    object
 2   Age                    500 non-null    int64
 3   Gender                 500 non-null    object
 4   Location               500 non-null    object
 5   Department             500 non-null    object
 6   JobRole                500 non-null    object
 7   DegreeEducation        500 non-null    object
 8   HireDate               500 non-null    object
 9   Experience             500 non-null    object
 10  EmploymentType         500 non-null    object
 11  Salary                 500 non-null    object
 12  PerformanceRating      500 non-null    int64
 13  Attrition              500 non-null    object
 14  MaritalStatus          500 non-null    object
 15  WorkMode               500 non-null    object
 16  TrainingHours          500 non-null    int64
 17  OvertimeHoursPerMonth  500 non-null    int64
 18  ProjectsHandled        500 non-null    int64
 19  SatisfactionScore      500 non-null    int64
dtypes: int64(6), object(14)
memory usage: 78.3+ KB

In [36]:
df[df['Experience'] == 'Fresher']

,EmployeeID,Name,Age,Gender,Location,Department,JobRole,DegreeEducation,HireDate,Experience,EmploymentType,Salary,PerformanceRating,Attrition,MaritalStatus,WorkMode,TrainingHours,OvertimeHoursPerMonth,ProjectsHandled,SatisfactionScore
11,EMP0012,Jennifer Wheeler,32,Other,Sydney,Finance,IT Support,Diploma,14-08-2025,Fresher,Full-time,"? 48,567.64",5,Yes,Single,On-site,38,15,1,8
15,EMP0016,Bryan Hill,47,Female,Berlin,Marketing,Software Engineer,Bachelors,05-06-2025,Fresher,Part-time,"? 1,35,897.88",1,No,Married,Hybrid,60,26,4,8
23,EMP0024,Regina Pope,40,Female,Mumbai,IT,Marketing Executive,Diploma,03-04-2024,Fresher,Full-time,"? 47,546.13",1,Yes,Married,Hybrid,31,5,7,10
30,EMP0031,Aaron Brock,35,Other,Sydney,Operations,Software Engineer,PhD,13-09-2025,Fresher,Contract,"? 51,264.81",4,Yes,Single,Remote,67,7,5,8
47,EMP0048,Tina Henderson,38,Other,New York,IT,Business Consultant,PhD,01-10-2025,Fresher,Full-time,"? 68,133.05",5,Yes,Divorced,Remote,15,14,6,4
48,EMP0049,Brandon Castro,50,Female,Mumbai,IT,Software Engineer,PhD,17-02-2025,Fresher,Part-time,"? 60,768.32",1,Yes,Single,Remote,47,21,2,1
57,EMP0058,Annette Bailey,52,Other,Mumbai,HR,Business Consultant,PhD,21-08-2025,Fresher,Part-time,"? 46,186.89",2,Yes,Divorced,Remote,81,4,7,3
59,EMP0060,Benjamin Williams,46,Female,Toronto,Finance,Finance Analyst,Diploma,12-02-2025,Fresher,Part-time,"? 1,26,230.56",5,No,Married,Hybrid,42,13,6,7
66,EMP0067,Brandi Green,24,Other,New York,HR,Operations Manager,PhD,29-08-2025,Fresher,Contract,"? 58,470.01",1,No,Divorced,Hybrid,47,7,6,5
71,EMP0072,Mr. James Rivera,34,Female,Mumbai,Marketing,Business Consultant,Bachelors,12-05-2025,Fresher,Full-time,"? 59,663.42",1,No,Single,On-site,76,20,1,8
77,EMP0078,Scott Jones,49,Other,Tokyo,HR,Operations Manager,Bachelors,17-05-2024,Fresher,Part-time,"? 80,170.79",3,Yes,Single,Hybrid,71,19,2,8
84,EMP0085,Monique Garza,40,Other,Sydney,IT,HR Manager,Masters,09-11-2024,Fresher,Full-time,"? 33,766.60",3,Yes,Single,Remote,88,7,2,7
92,EMP0093,Brittany Bray,57,Other,London,IT,Sales Associate,PhD,26-04-2024,Fresher,Contract,"? 42,732.79",2,Yes,Divorced,On-site,69,26,10,6
138,EMP0139,Samantha Nguyen,36,Female,Tokyo,IT,IT Support,Masters,27-05-2024,Fresher,Contract,"? 79,002.96",5,Yes,Married,Remote,61,27,10,3
143,EMP0144,Bradley Fuller,34,Male,Toronto,HR,Software Engineer,Masters,11-01-2025,Fresher,Part-time,"? 1,33,981.92",2,No,Single,On-site,90,3,2,4
145,EMP0146,Amy Deleon,59,Other,Mumbai,IT,Product Manager,Masters,25-01-2025,Fresher,Contract,"? 48,283.22",2,No,Divorced,Remote,47,26,1,7
151,EMP0152,Darryl Hart,59,Other,Tokyo,Operations,HR Manager,PhD,17-09-2025,Fresher,Part-time,"? 35,180.42",1,Yes,Single,On-site,33,1,10,6
156,EMP0157,Danielle Robinson,59,Other,Tokyo,Finance,Operations Manager,Diploma,12-05-2025,Fresher,Contract,"? 49,354.46",2,No,Divorced,On-site,96,20,6,9
157,EMP0158,Andrea Silva,59,Other,London,Operations,Data Analyst,Diploma,07-10-2024,Fresher,Part-time,"? 1,22,081.34",5,No,Single,Remote,38,9,4,1
194,EMP0195,James Henry,45,Other,London,Sales,Data Analyst,Diploma,11-01-2025,Fresher,Part-time,"? 1,25,547.71",4,No,Divorced,Remote,73,22,3,8
199,EMP0200,Alexander Aguilar,42,Male,Toronto,Marketing,HR Manager,Bachelors,11-06-2024,Fresher,Part-time,"? 60,426.22",5,Yes,Divorced,Hybrid,54,11,3,1
237,EMP0238,Stephanie Bonilla,60,Other,Singapore,Operations,IT Support,Masters,20-04-2025,Fresher,Full-time,"? 48,674.98",5,Yes,Single,On-site,77,11,1,2
239,EMP0240,Christine Boyd,34,Other,Mumbai,HR,Sales Associate,Diploma,03-09-2025,Fresher,Part-time,"? 84,567.30",1,No,Married,On-site,77,2,10,10
247,EMP0248,Monica Miller,33,Other,New York,Marketing,Operations Manager,PhD,19-06-2025,Fresher,Contract,"? 43,072.35",4,Yes,Divorced,Hybrid,89,19,5,5
248,EMP0249,Tiffany Johnson,26,Other,Singapore,Marketing,Finance Analyst,Bachelors,24-08-2025,Fresher,Full-time,"? 40,735.64",3,No,Married,On-site,37,20,4,1
255,EMP0256,Aaron Thomas,42,Other,London,Sales,HR Manager,Diploma,10-08-2025,Fresher,Full-time,"? 1,48,024.00",1,No,Divorced,On-site,59,14,2,5
262,EMP0263,Lisa Perry,36,Female,Singapore,Operations,Operations Manager,PhD,08-06-2024,Fresher,Full-time,"? 36,804.81",5,Yes,Divorced,On-site,34,8,1,10
277,EMP0278,Scott Gonzales,52,Other,Tokyo,HR,IT Support,Diploma,02-06-2025,Fresher,Full-time,"? 1,13,912.10",4,No,Divorced,Hybrid,25,28,9,5
280,EMP0281,Daniel Lutz,23,Other,Singapore,Sales,Finance Analyst,Masters,13-07-2024,Fresher,Part-time,"? 1,03,250.90",1,Yes,Single,On-site,60,30,1,8
292,EMP0293,Pamela Navarro,38,Female,Tokyo,IT,Finance Analyst,Bachelors,04-02-2024,Fresher,Part-time,"? 1,45,614.51",4,Yes,Married,Remote,64,12,2,5
296,EMP0297,Dr. Brittany Allen DDS,46,Male,Mumbai,Marketing,Software Engineer,Diploma,07-10-2024,Fresher,Full-time,"? 47,846.71",2,Yes,Single,On-site,17,22,7,4
301,EMP0302,Alyssa Martin,31,Male,Tokyo,Marketing,Sales Associate,Masters,18-04-2025,Fresher,Full-time,"? 69,786.82",5,Yes,Divorced,On-site,52,26,5,2
312,EMP0313,Christopher Davis,41,Female,Sydney,Sales,Marketing Executive,PhD,03-10-2025,Fresher,Part-time,"? 78,788.38",5,No,Single,Hybrid,66,15,5,4
313,EMP0314,Jennifer Scott,53,Other,Berlin,IT,Operations Manager,Diploma,07-05-2025,Fresher,Contract,"? 30,745.14",5,Yes,Divorced,On-site,68,19,3,4
322,EMP0323,Mark Smith,57,Male,Tokyo,Operations,HR Manager,Diploma,14-08-2024,Fresher,Full-time,"? 1,14,488.79",3,Yes,Divorced,Hybrid,81,30,10,2
347,EMP0348,Jeffrey Spencer,41,Male,Berlin,Sales,Software Engineer,Bachelors,18-07-2025,Fresher,Part-time,"? 1,17,046.38",3,No,Single,On-site,65,17,6,2
356,EMP0357,Corey Smith,35,Male,Sydney,Marketing,Operations Manager,Bachelors,07-08-2025,Fresher,Contract,"? 98,814.47",2,Yes,Divorced,Hybrid,48,6,2,7
358,EMP0359,Lauren Manning,28,Female,New York,Finance,Marketing Executive,Bachelors,27-04-2025,Fresher,Contract,"? 74,464.33",4,No,Married,Remote,97,18,2,10
367,EMP0368,Andre Cook,43,Other,London,Finance,HR Manager,PhD,30-08-2025,Fresher,Part-time,"? 1,35,165.69",4,No,Single,Remote,32,21,2,6
371,EMP0372,Jeffrey Adkins,54,Other,Sydney,Finance,HR Manager,Masters,15-07-2025,Fresher,Contract,"? 1,12,992.39",4,Yes,Divorced,Remote,47,27,3,3
378,EMP0379,Eric Gates,36,Male,New York,Finance,Finance Analyst,Masters,27-12-2024,Fresher,Part-time,"? 42,072.27",4,Yes,Single,On-site,51,6,6,4
390,EMP0391,Tina King,46,Male,Tokyo,Operations,Marketing Executive,Diploma,08-07-2025,Fresher,Part-time,"? 1,12,751.31",4,No,Divorced,Hybrid,17,19,3,1
391,EMP0392,Danny Anthony,50,Male,New York,HR,Marketing Executive,Diploma,23-04-2025,Fresher,Contract,"? 1,38,890.16",1,No,Single,Remote,35,9,2,6
403,EMP0404,Jean Weeks,50,Male,Toronto,HR,Software Engineer,Bachelors,05-11-2024,Fresher,Part-time,"? 90,105.93",3,Yes,Divorced,Hybrid,37,30,7,8
404,EMP0405,Melissa Mendoza,26,Other,Sydney,Marketing,Product Manager,Bachelors,05-05-2025,Fresher,Full-time,"? 90,397.88",5,No,Divorced,On-site,86,6,5,10
419,EMP0420,Steven Higgins,43,Male,London,Operations,Sales Associate,Masters,30-08-2025,Fresher,Full-time,"? 1,06,518.95",5,Yes,Married,Remote,92,21,4,2
432,EMP0433,Autumn Barnes,26,Female,New York,HR,Sales Associate,PhD,23-08-2025,Fresher,Full-time,"? 1,20,937.84",1,No,Divorced,Remote,74,14,8,7
442,EMP0443,Jennifer Collins,27,Male,Sydney,Operations,HR Manager,Bachelors,21-12-2024,Fresher,Part-time,"? 1,38,813.34",3,Yes,Married,Remote,74,13,7,7
444,EMP0445,Dr. Kimberly Myers,28,Male,Sydney,HR,Software Engineer,Bachelors,06-07-2025,Fresher,Contract,"? 45,043.19",2,Yes,Divorced,Hybrid,13,21,4,9
448,EMP0449,Steven Williams,32,Female,Berlin,HR,Product Manager,Diploma,17-07-2025,Fresher,Contract,"? 1,21,267.36",1,No,Divorced,Remote,35,5,4,6
468,EMP0469,Cody Franklin,50,Other,Singapore,Marketing,Software Engineer,Masters,09-04-2025,Fresher,Part-time,"? 1,30,684.52",2,No,Divorced,Remote,97,5,8,5
479,EMP0480,Kevin Hall,32,Other,Toronto,Sales,Sales Associate,Masters,02-05-2025,Fresher,Full-time,"? 1,13,439.39",2,No,Divorced,Remote,86,17,8,8
486,EMP0487,Beth Flynn,40,Male,Sydney,Marketing,HR Manager,PhD,23-06-2025,Fresher,Full-time,"? 79,427.75",4,No,Divorced,On-site,62,17,4,3

In [61]:
fresher_df = df[df['Experience'] == 'Fresher']
print(fresher_df)

    EmployeeID                    Name  Age  Gender   Location  Department  \
11     EMP0012        Jennifer Wheeler   32   Other     Sydney     Finance
15     EMP0016              Bryan Hill   47  Female     Berlin   Marketing
23     EMP0024             Regina Pope   40  Female     Mumbai          IT
30     EMP0031             Aaron Brock   35   Other     Sydney  Operations
47     EMP0048          Tina Henderson   38   Other   New York          IT
48     EMP0049          Brandon Castro   50  Female     Mumbai          IT
57     EMP0058          Annette Bailey   52   Other     Mumbai          HR
59     EMP0060       Benjamin Williams   46  Female    Toronto     Finance
66     EMP0067            Brandi Green   24   Other   New York          HR
71     EMP0072        Mr. James Rivera   34  Female     Mumbai   Marketing
77     EMP0078             Scott Jones   49   Other      Tokyo          HR
84     EMP0085           Monique Garza   40   Other     Sydney          IT
92     EMP0093           Brittany Bray   57   Other     London          IT
138    EMP0139         Samantha Nguyen   36  Female      Tokyo          IT
143    EMP0144          Bradley Fuller   34    Male    Toronto          HR
145    EMP0146              Amy Deleon   59   Other     Mumbai          IT
151    EMP0152             Darryl Hart   59   Other      Tokyo  Operations
156    EMP0157       Danielle Robinson   59   Other      Tokyo     Finance
157    EMP0158            Andrea Silva   59   Other     London  Operations
194    EMP0195             James Henry   45   Other     London       Sales
199    EMP0200       Alexander Aguilar   42    Male    Toronto   Marketing
237    EMP0238       Stephanie Bonilla   60   Other  Singapore  Operations
239    EMP0240          Christine Boyd   34   Other     Mumbai          HR
247    EMP0248           Monica Miller   33   Other   New York   Marketing
248    EMP0249         Tiffany Johnson   26   Other  Singapore   Marketing
255    EMP0256            Aaron Thomas   42   Other     London       Sales
262    EMP0263              Lisa Perry   36  Female  Singapore  Operations
277    EMP0278          Scott Gonzales   52   Other      Tokyo          HR
280    EMP0281             Daniel Lutz   23   Other  Singapore       Sales
292    EMP0293          Pamela Navarro   38  Female      Tokyo          IT
296    EMP0297  Dr. Brittany Allen DDS   46    Male     Mumbai   Marketing
301    EMP0302           Alyssa Martin   31    Male      Tokyo   Marketing
312    EMP0313       Christopher Davis   41  Female     Sydney       Sales
313    EMP0314          Jennifer Scott   53   Other     Berlin          IT
322    EMP0323              Mark Smith   57    Male      Tokyo  Operations
347    EMP0348         Jeffrey Spencer   41    Male     Berlin       Sales
356    EMP0357             Corey Smith   35    Male     Sydney   Marketing
358    EMP0359          Lauren Manning   28  Female   New York     Finance
367    EMP0368              Andre Cook   43   Other     London     Finance
371    EMP0372          Jeffrey Adkins   54   Other     Sydney     Finance
378    EMP0379              Eric Gates   36    Male   New York     Finance
390    EMP0391               Tina King   46    Male      Tokyo  Operations
391    EMP0392           Danny Anthony   50    Male   New York          HR
403    EMP0404              Jean Weeks   50    Male    Toronto          HR
404    EMP0405         Melissa Mendoza   26   Other     Sydney   Marketing
419    EMP0420          Steven Higgins   43    Male     London  Operations
432    EMP0433           Autumn Barnes   26  Female   New York          HR
442    EMP0443        Jennifer Collins   27    Male     Sydney  Operations
444    EMP0445      Dr. Kimberly Myers   28    Male     Sydney          HR
448    EMP0449         Steven Williams   32  Female     Berlin          HR
468    EMP0469           Cody Franklin   50   Other  Singapore   Marketing
479    EMP0480              Kevin Hall   32   Other    Toronto       Sales
486    EMP0487              Beth Flynn   40    Male     Sydney   Marketing

                 JobRole DegreeEducation    HireDate Experience  \
11            IT Support         Diploma  14-08-2025    Fresher
15     Software Engineer       Bachelors  05-06-2025    Fresher
23   Marketing Executive         Diploma  03-04-2024    Fresher
30     Software Engineer             PhD  13-09-2025    Fresher
47   Business Consultant             PhD  01-10-2025    Fresher
48     Software Engineer             PhD  17-02-2025    Fresher
57   Business Consultant             PhD  21-08-2025    Fresher
59       Finance Analyst         Diploma  12-02-2025    Fresher
66    Operations Manager             PhD  29-08-2025    Fresher
71   Business Consultant       Bachelors  12-05-2025    Fresher
77    Operations Manager       Bachelors  17-05-2024    Fresher
84            HR Manager         Masters  09-11-2024    Fresher
92       Sales Associate             PhD  26-04-2024    Fresher
138           IT Support         Masters  27-05-2024    Fresher
143    Software Engineer         Masters  11-01-2025    Fresher
145      Product Manager         Masters  25-01-2025    Fresher
151           HR Manager             PhD  17-09-2025    Fresher
156   Operations Manager         Diploma  12-05-2025    Fresher
157         Data Analyst         Diploma  07-10-2024    Fresher
194         Data Analyst         Diploma  11-01-2025    Fresher
199           HR Manager       Bachelors  11-06-2024    Fresher
237           IT Support         Masters  20-04-2025    Fresher
239      Sales Associate         Diploma  03-09-2025    Fresher
247   Operations Manager             PhD  19-06-2025    Fresher
248      Finance Analyst       Bachelors  24-08-2025    Fresher
255           HR Manager         Diploma  10-08-2025    Fresher
262   Operations Manager             PhD  08-06-2024    Fresher
277           IT Support         Diploma  02-06-2025    Fresher
280      Finance Analyst         Masters  13-07-2024    Fresher
292      Finance Analyst       Bachelors  04-02-2024    Fresher
296    Software Engineer         Diploma  07-10-2024    Fresher
301      Sales Associate         Masters  18-04-2025    Fresher
312  Marketing Executive             PhD  03-10-2025    Fresher
313   Operations Manager         Diploma  07-05-2025    Fresher
322           HR Manager         Diploma  14-08-2024    Fresher
347    Software Engineer       Bachelors  18-07-2025    Fresher
356   Operations Manager       Bachelors  07-08-2025    Fresher
358  Marketing Executive       Bachelors  27-04-2025    Fresher
367           HR Manager             PhD  30-08-2025    Fresher
371           HR Manager         Masters  15-07-2025    Fresher
378      Finance Analyst         Masters  27-12-2024    Fresher
390  Marketing Executive         Diploma  08-07-2025    Fresher
391  Marketing Executive         Diploma  23-04-2025    Fresher
403    Software Engineer       Bachelors  05-11-2024    Fresher
404      Product Manager       Bachelors  05-05-2025    Fresher
419      Sales Associate         Masters  30-08-2025    Fresher
432      Sales Associate             PhD  23-08-2025    Fresher
442           HR Manager       Bachelors  21-12-2024    Fresher
444    Software Engineer       Bachelors  06-07-2025    Fresher
448      Product Manager         Diploma  17-07-2025    Fresher
468    Software Engineer         Masters  09-04-2025    Fresher
479      Sales Associate         Masters  02-05-2025    Fresher
486           HR Manager             PhD  23-06-2025    Fresher

    EmploymentType         Salary  PerformanceRating Attrition MaritalStatus  \
11       Full-time    ? 48,567.64                  5       Yes        Single
15       Part-time  ? 1,35,897.88                  1        No       Married
23       Full-time    ? 47,546.13                  1       Yes       Married
30        Contract    ? 51,264.81                  4       Yes        Single
47       Full-time    ? 68,133.05                  5       Yes      Divorced
48       Part-time    ? 60,768.32                  1       Yes        Single
57       Part-time    ? 46,186.89                  2       Yes      Divorced
59       Part-time  ? 1,26,230.56                  5        No       Married
66        Contract    ? 58,470.01                  1        No      Divorced
71       Full-time    ? 59,663.42                  1        No        Single
77       Part-time    ? 80,170.79                  3       Yes        Single
84       Full-time    ? 33,766.60                  3       Yes        Single
92        Contract    ? 42,732.79                  2       Yes      Divorced
138       Contract    ? 79,002.96                  5       Yes       Married
143      Part-time  ? 1,33,981.92                  2        No        Single
145       Contract    ? 48,283.22                  2        No      Divorced
151      Part-time    ? 35,180.42                  1       Yes        Single
156       Contract    ? 49,354.46                  2        No      Divorced
157      Part-time  ? 1,22,081.34                  5        No        Single
194      Part-time  ? 1,25,547.71                  4        No      Divorced
199      Part-time    ? 60,426.22                  5       Yes      Divorced
237      Full-time    ? 48,674.98                  5       Yes        Single
239      Part-time    ? 84,567.30                  1        No       Married
247       Contract    ? 43,072.35                  4       Yes      Divorced
248      Full-time    ? 40,735.64                  3        No       Married
255      Full-time  ? 1,48,024.00                  1        No      Divorced
262      Full-time    ? 36,804.81                  5       Yes      Divorced
277      Full-time  ? 1,13,912.10                  4        No      Divorced
280      Part-time  ? 1,03,250.90                  1       Yes        Single
292      Part-time  ? 1,45,614.51                  4       Yes       Married
296      Full-time    ? 47,846.71                  2       Yes        Single
301      Full-time    ? 69,786.82                  5       Yes      Divorced
312      Part-time    ? 78,788.38                  5        No        Single
313       Contract    ? 30,745.14                  5       Yes      Divorced
322      Full-time  ? 1,14,488.79                  3       Yes      Divorced
347      Part-time  ? 1,17,046.38                  3        No        Single
356       Contract    ? 98,814.47                  2       Yes      Divorced
358       Contract    ? 74,464.33                  4        No       Married
367      Part-time  ? 1,35,165.69                  4        No        Single
371       Contract  ? 1,12,992.39                  4       Yes      Divorced
378      Part-time    ? 42,072.27                  4       Yes        Single
390      Part-time  ? 1,12,751.31                  4        No      Divorced
391       Contract  ? 1,38,890.16                  1        No        Single
403      Part-time    ? 90,105.93                  3       Yes      Divorced
404      Full-time    ? 90,397.88                  5        No      Divorced
419      Full-time  ? 1,06,518.95                  5       Yes       Married
432      Full-time  ? 1,20,937.84                  1        No      Divorced
442      Part-time  ? 1,38,813.34                  3       Yes       Married
444       Contract    ? 45,043.19                  2       Yes      Divorced
448       Contract  ? 1,21,267.36                  1        No      Divorced
468      Part-time  ? 1,30,684.52                  2        No      Divorced
479      Full-time  ? 1,13,439.39                  2        No      Divorced
486      Full-time    ? 79,427.75                  4        No      Divorced

    WorkMode  TrainingHours  OvertimeHoursPerMonth  ProjectsHandled  \
11   On-site             38                     15                1
15    Hybrid             60                     26                4
23    Hybrid             31                      5                7
30    Remote             67                      7                5
47    Remote             15                     14                6
48    Remote             47                     21                2
57    Remote             81                      4                7
59    Hybrid             42                     13                6
66    Hybrid             47                      7                6
71   On-site             76                     20                1
77    Hybrid             71                     19                2
84    Remote             88                      7                2
92   On-site             69                     26               10
138   Remote             61                     27               10
143  On-site             90                      3                2
145   Remote             47                     26                1
151  On-site             33                      1               10
156  On-site             96                     20                6
157   Remote             38                      9                4
194   Remote             73                     22                3
199   Hybrid             54                     11                3
237  On-site             77                     11                1
239  On-site             77                      2               10
247   Hybrid             89                     19                5
248  On-site             37                     20                4
255  On-site             59                     14                2
262  On-site             34                      8                1
277   Hybrid             25                     28                9
280  On-site             60                     30                1
292   Remote             64                     12                2
296  On-site             17                     22                7
301  On-site             52                     26                5
312   Hybrid             66                     15                5
313  On-site             68                     19                3
322   Hybrid             81                     30               10
347  On-site             65                     17                6
356   Hybrid             48                      6                2
358   Remote             97                     18                2
367   Remote             32                     21                2
371   Remote             47                     27                3
378  On-site             51                      6                6
390   Hybrid             17                     19                3
391   Remote             35                      9                2
403   Hybrid             37                     30                7
404  On-site             86                      6                5
419   Remote             92                     21                4
432   Remote             74                     14                8
442   Remote             74                     13                7
444   Hybrid             13                     21                4
448   Remote             35                      5                4
468   Remote             97                      5                8
479   Remote             86                     17                8
486  On-site             62                     17                4

     SatisfactionScore
11                   8
15                   8
23                  10
30                   8
47                   4
48                   1
57                   3
59                   7
66                   5
71                   8
77                   8
84                   7
92                   6
138                  3
143                  4
145                  7
151                  6
156                  9
157                  1
194                  8
199                  1
237                  2
239                 10
247                  5
248                  1
255                  5
262                 10
277                  5
280                  8
292                  5
296                  4
301                  2
312                  4
313                  4
322                  2
347                  2
356                  7
358                 10
367                  6
371                  3
378                  4
390                  1
391                  6
403                  8
404                 10
419                  2
432                  7
442                  7
444                  9
448                  6
468                  5
479                  8
486                  3

In [23]:
df[df['EmploymentType'] == 'Part-time']

,EmployeeID,Name,Age,Gender,Location,Department,JobRole,DegreeEducation,HireDate,Experience,EmploymentType,Salary,PerformanceRating,Attrition,MaritalStatus,WorkMode,TrainingHours,OvertimeHoursPerMonth,ProjectsHandled,SatisfactionScore
0,EMP0001,Caitlin Calderon,35,Male,Sydney,Finance,Software Engineer,Diploma,04-02-2022,2.4 yrs,Part-time,"? 37,483.33",2,No,Single,Hybrid,83,10,2,2
1,EMP0002,Eric Chapman,37,Other,London,HR,Product Manager,Bachelors,20-01-2021,3.4 yrs,Part-time,"? 1,39,532.68",2,Yes,Married,Hybrid,59,27,9,2
2,EMP0003,Daniel Gregory,55,Female,Mumbai,Finance,HR Manager,Bachelors,15-03-2020,5.3 yrs,Part-time,"? 41,579.60",4,No,Single,Remote,23,20,4,7
6,EMP0007,Robert Webb,37,Female,New York,Marketing,Sales Associate,Bachelors,11-04-2020,5.9 yrs,Part-time,"? 30,548.48",1,No,Divorced,Remote,35,9,8,7
7,EMP0008,Sheila Ramos,40,Female,Sydney,Sales,Finance Analyst,Diploma,27-06-2017,8.9 yrs,Part-time,"? 1,23,568.78",4,Yes,Married,Hybrid,99,25,2,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
477,EMP0478,Nancy Sutton,60,Male,Sydney,IT,Operations Manager,Bachelors,07-04-2023,1.4 yrs,Part-time,"? 1,28,533.79",5,No,Single,Hybrid,63,13,5,8
482,EMP0483,Dawn Cole,50,Other,Singapore,Sales,Sales Associate,PhD,26-03-2023,2.5 yrs,Part-time,"? 1,43,276.40",3,Yes,Married,Remote,78,17,5,4
491,EMP0492,Olivia Liu,53,Other,London,Sales,Operations Manager,Masters,18-03-2023,1.2 yrs,Part-time,"? 97,911.32",2,Yes,Single,On-site,82,11,1,10
493,EMP0494,David Chapman,31,Male,London,Finance,Business Consultant,Masters,13-05-2018,7.4 yrs,Part-time,"? 36,850.07",5,No,Married,On-site,82,22,4,8
495,EMP0496,Ms. Alicia Mills MD,42,Male,Berlin,Sales,HR Manager,Masters,23-10-2017,8.9 yrs,Part-time,"? 50,399.65",1,No,Married,On-site,14,9,10,3

In [62]:
df['EmploymentType'].value_counts()['Part-time']

np.int64(183)

In [63]:
df['Experience'].value_counts()['Fresher']

np.int64(53)

In [64]:
df['Experience'].value_counts()

Experience
Fresher     53
8.9 yrs     11
5.1 yrs     11
1.5 yrs     10
8.2 yrs     10
            ..
3.0 yrs      1
10.4 yrs     1
10.6 yrs     1
5.2 yrs      1
7.8 yrs      1
Name: count, Length: 94, dtype: int64